/*Navbar*/
.navbar {
  transition: all 0.4s;
  background: #FFF;
}

.navbar .nav-link {
  color: #000;
  font-weight: bold;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #ee2019;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #000;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #000;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #ee2019;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #fff;
}

/* Change navbar styling on small viewports */
@media screen and (max-width: 1000px) {
  .navbar {
    transition: all 0.4s;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #fff;
  }
}

.hoverLink:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
